[Unit]
Description=Check solar sensor public delivery every minute

[Timer]
OnBootSec=45
OnUnitActiveSec=60
AccuracySec=5
Unit=solar-sensor-transport.service

[Install]
WantedBy=timers.target
